swagger: '2.0'

info:
  version: "1.0.0"
  title: Bambora Card Information API
  description: |
    This service provides information about different card types for identifying card scheme, card type and issuer country, for example. 
  
    Same card number can have multiple records for example if international card number is also used for local debit scheme.
  
schemes: 
  - https
  
host: api-beta.bambora.com

consumes:
  - application/json

produces:
  - application/json
  - application/problem+json
  
paths:
  /cardinformation/{region}:
    get:
      description: Gets all the records **Returns tens of thousands of records**
      tags:
        - card information
      security: 
        - auth:
          - read_cardinformation
      parameters:
        -
          name: region
          in: path
          type: string
          required: true
          description: "Merchant region: Europe"
        -
          name: includeAdditional
          in: query
          type: boolean
          description: Include additional entries such as local debit scheme information or secondary entries if same card number is used for both credit and debit applications
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items: 
              $ref: '#/definitions/CardInformation'
        401:
          description: Unauthorized - access token missing or expired
        403:
          description: Forbidden - lacking privileges for requested action              
        default:
          description: Unexpected error
    head:
      description: Gets last updated timestamp for the data set, returned in Last-Modified response header
      tags:
       - card information
      security: 
        - auth:
          - read_cardinformation
      parameters:
        -
          name: region
          in: path
          type: string
          required: true
          description: "Merchant region: Europe"
      responses:
        200:
          description: Successful response
        401:
          description: Unauthorized - access token missing or expired
        403:
          description: Forbidden - lacking privileges for requested action
        default:
          description: Unexpected error
  /cardinformation/{region}/{cardNumberPrefix}:
    get:
      description: Gets card information
      tags:
        - card information
      security: 
        - auth:
          - read_cardinformation
      parameters:
        -
          name: region
          in: path
          type: string
          required: true
          description: "Merchant region: Europe"
        -
          name: cardNumberPrefix
          in: path
          type: string
          required: true
          description: First ten digits of card number should be provided for realiable lookup
        -
          name: cardNumberLength
          in: query
          type: integer
          description: Length of the card number
        -
          name: includeAdditional
          in: query
          type: boolean
          description: Include additional entries such as local debit scheme information or secondary entries if same card number is used for both credit and debit applications 
      responses:
        200:
          description: Successful response
          schema:
            type: array
            items: 
              $ref: '#/definitions/CardInformation'
        401:
          description: Unauthorized - access token missing or expired
        403:
          description: Forbidden - lacking privileges for requested action
        404:
          description: Unknown card
        default:
          description: Unexpected error

definitions:
  CardInformation:
    type: object
    properties:
      rangeStart:
        title: Start of card number range right padded with 0 to 19 digits
        type: string
        description: For example 4920070000000000000
      rangeEnd: 
        title: End of card number range right padded with 9 to 19 digits
        type: string
        description: For example 4920079999999999999
      minCardNumberLength:
        title: Minimum length of the card number in this range
        type: integer
        description: For example 16
      maxCardNumberLength:
        title: Maximum length of the card number in this range
        type: integer
        description: For example 16
      scheme:
        title: "Card scheme: MasterCard, UnionPay or Visa"
        type: string
        description: For example Visa
      issuerCountry:
        title: Issuer country code in ISO 3166-1 alpha-3
        type: string
        description: For example FIN
      billingCurrency:
        title: Cardholder billing currency in ISO 4217 alpha
        type: string
        description: For example EUR
      probableBillingCurrency:
        title: Probable billing currency deducted from issuer country if definite information is not available in ISO 4217 alpha
        type: string
        description: For example EUR
      cardProductType:
        title: "Card product type: CREDIT, DEBIT, PREPAID or UNKNOWN"
        type: string
        description: For example CREDIT
        enum: ["CREDIT", "DEBIT", "PREPAID", "UNKNOWN"]

securityDefinitions:
  auth:
    type: oauth2
    description: Access token from auth.bambora.com
    flow: application
    tokenUrl: https://auth.bambora.com/connect/token
    scopes: 
      read_cardinformation: Grants reading card information
